<h3 id="pruebas">Pruebas</h3>
<ul>
<li>Nueva herramienta:<ul>
<li>Mejor integración.</li>
<li>Tarjetas separadas de las normales del proyecto.</li>
<li>Ejecuciones por historia.
<a href="https://kaptureio.atlassian.net/browse/KI-2474">Ejemplo</a></li>
</ul>
</li>
<li>Conservamos la pruebas de Zephyr durante la migración.</li>
</ul>
<hr>
<ul>
<li>Ciclos:<ul>
<li>Nuevas funcionalidades.<ul>
<li>Definición de la historia de usuario.</li>
<li>Creación de pruebas para la historia.</li>
<li>Creación de una ejecucición post-desarrollo.</li>
<li>Creación de una ejecución para QA.</li>
<li>Validación y tests de aceptación.</li>
<li>DOD.</li>
</ul>
</li>
<li>Ciclos de regresión:<ul>
<li>Con cada nuevo desarrollo irán aumentando las pruebas y cambiando las prioridades.</li>
<li><em>Asignación de las ejecuciones</em>.</li>
<li>Kapture Win</li>
<li>Kapture io</li>
<li>Kapture Quality Control</li>
<li>Kapture Alarms</li>
<li>Kapture Audits</li>
</ul>
</li>
<li>Smoke tests:<ul>
<li>Con cada nuevo desarrollo irán aumentando las pruebas y cambiando las prioridades.</li>
<li>Kapture Win</li>
<li>Kapture io</li>
<li>Kapture Quality Control</li>
<li>Kapture Alarms</li>
<li>Kapture Audits</li>
</ul>
</li>
</ul>
</li>
<li>Priorización de las pruebas.<ul>
<li>Orden de ejecución de los tests de regresión.</li>
</ul>
</li>
</ul>
<hr>
<ul>
<li>Validaciones de nuevas funcionalidades:<ul>
<li>Todas las pruebas se realizarán en <strong>Internet Explorer 11</strong> como mínimo. Tanto desarrollo como QA.</li>
<li>En desarrollo antes de pasar a test. Se genera una ejecución y se comprueba que el desarrollo está conforme a lo especificado.</li>
<li>En test antes de pasar a tested. Se genera una ejecución y se comprueba externamente que funciona.</li>
<li>En tested antes de pasar a done. Se comprueba que las tareas relacionadas están completadas.</li>
<li>Únicamente se revisarán las tarjetas de historia. Si alguna tarjeta de historia no se debe validar estará indicado.</li>
</ul>
</li>
</ul>
<hr>
<ul>
<li>Automatizaciones<ul>
<li>Qué pruebas se automatizarán.</li>
<li>Set de datos</li>
</ul>
</li>
<li>Una prueba por cada error. Futuro.<ul>
<li>Cubrir los casos que ya nos hemos encontrado.</li>
</ul>
</li>
</ul>
<hr>
<h3 id="bugs">Bugs</h3>
<h4 id="c-mo-reportamos-un-error-">Cómo reportamos un error:</h4>
<ul>
<li>¿Hemos encontrado un error o no estaba bien definido?<ul>
<li>No funciona</li>
<li>Funciona...pero no como se esperaba</li>
</ul>
</li>
<li>¿Es reproducible?<ul>
<li>¿Pasa siempre?</li>
<li>¿Qué pasos he de seguir para reproducir el error?</li>
<li>¿Podemos adjuntar algo?<ul>
<li>Captura de pantalla o GIF</li>
<li>URL</li>
</ul>
</li>
<li>¿Cuál es el resultado esperado?¿Qué tendría que haber pasado?</li>
</ul>
</li>
<li>¿Dónde lo he encontrado?<ul>
<li>Navegador</li>
<li>Tablet</li>
<li>Escritorio</li>
</ul>
</li>
<li>¿Puedo dar algo de información sobre el navegador o SO?</li>
<li>Títulos explicativos pero sencillos. Dejemos las descripciones para el campo de descripciones</li>
<li>Comentario mencionando a la persona o personas interesadas</li>
<li>Mínima información necesaria a la hora de reportar un error:<ul>
<li>Pasos completos para reproducir el error.</li>
<li>Entorno, plataforma, usuario y URL donde hemos encontrado el error.</li>
<li>Descripción del error.</li>
<li>Descripción de cómo debería funcionar para que no se considerara un error.</li>
</ul>
</li>
<li>Si no se ha terminado de definir un bug, se asigna a uno mismo para terminar de completarlo antes de asignarlo a otra persona.</li>
<li><p>Los errores reportados que no estén bien definidos se le devolverán al usuario que los haya reportado.</p>
</li>
<li><p>Textos y literales</p>
<ul>
<li>Validación sin literales</li>
<li>Incluirlos en el DOD.</li>
</ul>
</li>
<li>Novedades del sprint<ul>
<li>El jueves de test se han de tener preparadas las novedades del sprint.</li>
</ul>
</li>
<li>=&gt;<strong>A quién lo asignamos</strong></li>
<li>=&gt;<strong>Etiquetas</strong></li>
</ul>
<h4 id="hotfixes-">Hotfixes:</h4>
<ul>
<li>Lo primero, deberá estar correctamente reportado.</li>
<li>Para mejorar la velocidad de respuesta en correcciones en producción se asignarán los hotfixes a una persona determinada.</li>
<li>Hay que discernir ¿es importate, es urgente o ambas?</li>
<li>¿Cuántos usuarios lo están utilizando o pueden utilizarlo actualmente?</li>
<li>(QA) Cuando se traten <strong>hotfixes</strong> hay que confirmar el número de incidencia para agilizar los trámites.</li>
</ul>
